__pycache__
.pytest_cache
.ipynb_checkpoints
.tmp
.venv
.env
tmp
.DS_Store
docs/_build
.zed
.vscode

# Python packaging related
*.egg-info
build
dist

# Golang builds
earth_data_kit/stitching/shared_libs/builds/
example.py

# Created by tests
*.tar.gz.properties