__pycache__
.pytest_cache
.ipynb_checkpoints
.tmp
.venv
.env
tmp
.DS_Store
docs/_build
.zed
.vscode
.benchmarks

# Python packaging related
*.egg-info
build
dist

# Golang builds
earth_data_kit/stitching/shared_libs/builds/
earth_data_kit/s5cmd/

# Example files, helps in quick testing
example.py
example.ipynb

# Created by tests
*.tar.gz.properties

node_modules