AWS_REGION=us-east-1
AWS_NO_SIGN_REQUEST=TRUE
AWS_CONFIG_DIR=~/.aws

EDK_MAX_WORKERS=16
GOOGLE_APPLICATION_CREDENTIALS=/app/workspace/ee-planet-bench.json

# Update paths according to your local setup
WORKSPACE_DIR=./examples
DATA_DIR=./data